parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Classes/Sizes/BackendLayout.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: Classes/Sizes/BackendLayout.php

		-
			message: "#^Parameter \\#1 \\$identifier of class Codappix\\\\ResponsiveImages\\\\Sizes\\\\BackendLayout constructor expects string, mixed given\\.$#"
			count: 1
			path: Classes/Sizes/BackendLayout.php

		-
			message: "#^Parameter \\#1 \\$identifier of class Codappix\\\\ResponsiveImages\\\\Sizes\\\\BackendLayout\\\\Column constructor expects string, mixed given\\.$#"
			count: 1
			path: Classes/Sizes/BackendLayout/Column.php

		-
			message: "#^Parameter \\#1 \\$identifier of class Codappix\\\\ResponsiveImages\\\\Sizes\\\\Breakpoint constructor expects string, mixed given\\.$#"
			count: 1
			path: Classes/Sizes/Breakpoint.php

		-
			message: "#^Parameter \\#1 \\$data of class Codappix\\\\ResponsiveImages\\\\Sizes\\\\ContentElement constructor expects array, mixed given\\.$#"
			count: 1
			path: Classes/Sizes/ContentElement.php

		-
			message: "#^Cannot call method getMultiplier\\(\\) on Codappix\\\\ResponsiveImages\\\\Sizes\\\\BackendLayout\\\\Column\\|null\\.$#"
			count: 1
			path: Classes/Sizes/Rootline.php

		-
			message: "#^Parameter \\#1 \\$data of class Codappix\\\\ResponsiveImages\\\\Sizes\\\\Rootline constructor expects array, mixed given\\.$#"
			count: 1
			path: Classes/Sizes/Rootline.php
